<style>
				body {
				  font-family: Arial, Helvetica, sans-serif;
				}

				.navbar {
				  overflow: hidden;
				  background-color: #0b5e24;
				}

				.navbar a {
				  float: left;
				  font-size: 16px;
				  color: white;
				  text-align: center;
				  padding: 14px 16px;
				  text-decoration: none;
				  font-family:  Comic Sans MS;
				}

				.dropdown {
				  float: left;
				  overflow: hidden;
				}

				.dropdown .dropbtn {
				  font-size: 16px;  
				  border: none;
				  outline: none;
				  color: white;
				  padding: 14px 16px;
				  background-color: inherit;
				  font-family:  Comic Sans MS;
				  margin: 0;
				}

				.navbar a:hover, .dropdown:hover .dropbtn {
				  background-color: #0e9e39;
				}

				.dropdown-content {
				  display: none;
				  position: absolute;
				  background-color: #f9f9f9;
				  min-width: 160px;
				  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				  z-index: 1;
				}

				.dropdown-content a {
				  float: none;
				  color: #0b5e24;
				  padding: 12px 16px;
				  text-decoration: none;
				  display: block;
				  text-align: left;
				}

				.dropdown-content a:hover {
				  background-color: #ddd;
				}

				.dropdown:hover .dropdown-content {
				  display: block;
				}
				p {
					color:#0b5e24;
					text-align:center;
					font-family:  Comic Sans MS;
				}
				.facebook {
				    float: center;
				  font-size: 16px;
				  color: white;
				  text-align: center;
				  padding: 14px 16px;
				  text-decoration: none;
				  font-family:  Comic Sans MS;
				  text-align:center;
				}
				.pics {
					border-radius:5%;
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top:100px;
					margin-bottom:100px;
					 width: 30%;
				}
				.lower {
					
				 	 bottom:0px;
					 left:50%
				}
				.info{
					width:40%;
				}
				.homepic {
					border-radius:5%;
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top:70px;
					margin-bottom:0px;
					 width: 30%;
				}
		</style>